body { 
  font: 125% georgia, sans-serif;
  line-height: 1.88889;
  color: #555753; 
  background: #FFF;
  margin: 30px; 
  padding: 0;
}

p { 
  margin-top: 0; 
  text-align: center;
}

#highPriority {
  color: #F55945;
}

#midPriority {
  color: #F5A345;
}

#lowPriority {
  color: #000000;
}

#highPriority div, #midPriority div, #lowPriority div {
  display: table;
  margin: auto;
}