<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tasklist</title>

    <!-- JQuery -->
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <!-- socket.io -->
    <script src="//cdn.socket.io/socket.io-1.3.5.js"></script>
        
    <!-- tasklist javascript -->
    <script src="/js/tasklist.js"></script>

    <!-- Pure.css -->
    <link rel="stylesheet" href="/css/pure-min.css">

    <!-- stylin -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>


  <body>
    <!-- begin tasklist form -->
    <div id="form">

      <form action="#" class="pure-form pure-form-aligned" id="addForm">

        <p>
          <input type="text" id="taskInput" placeholder="Enter task here."
          maxlength="42">
          <button type="submit" class="pure-button pure-button-primary" id="add">
            Add Task
          </button>
        </p>

        <div class="priorityOptions">
          <!-- select priorities -->
          <label for="highRadio" class="pure-radio">
          <input id ="highRadio" type="radio" name="priority" value="high"/>
            High Priority
          </label>

          <label for="midRadio" class="pure-radio">
          <input id ="midRadio" type="radio" name="priority" value="mid"/>
            Mid Priority
          </label>

          <label for="lowRadio" class="pure-radio">
          <input id ="lowRadio" type="radio" name="priority" value="low"/>
            Low Priority
          </label>
        </div>

      </form>

      <p></p>

      <!-- list of tasks -->
      <div class="taskLists" id="highPriority"></div><br />
      <div class="taskLists" id="midPriority"></div><br />
      <div class="taskLists" id="lowPriority"></div><br />

    </div>

    <div id="connectionsDisplay">
      Number of users connected:
    </div>

  </body>

</html>