<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Tasklist</title>

    <!-- JQuery -->
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    
    <!-- tasklist javascript -->
    <script src="/js/tasklist.js"></script>

    <!-- stylin -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>


  <body>
    <!-- begin tasklist form -->
    <div id="form">
      <form action="#" id="addForm">
        <p>
          <!-- input box -->
          <input type="text" id="taskInput">
          <input type="submit" id="add" value="Add Task">
        </p>
        <p>
          <!-- select priorities -->
          <input id ="highRadio" type="radio" name="priority" value="high" />
            <label for="highRadio">High Priority</label><br>

          <input id ="midRadio" type="radio" name="priority" value="mid" />
            <label for="midRadio">Mid Priority</label><br>

          <input id ="lowRadio" type="radio" name="priority" value="low" />
            <label for="lowRadio">Low Priority</label><br>
        </p>
      </form>

      <!-- list of tasks -->
      <div id="highPriority">
      </div>

      <div id="midPriority">
      </div>

      <div id="lowPriority">
      </div>
    </div>
  </body>

</html>