<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tasklist</title>

    <!-- JQuery -->
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    
    <!-- tasklist javascript -->
    <script src="/js/tasklist.js"></script>

    <!-- Pure.css -->
    <link rel="stylesheet" href="//yui.yahooapis.com/pure/0.6.0/pure-min.css">

    <!-- stylin -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>


  <body>
  <!-- begin tasklist form -->
  <div id="form">
    <form action="#" class="pure-form pure-form-aligned" id="addForm">
      <!-- input box -->
      <p>
        <input type="text" id="taskInput" placeholder="Enter task here.">
        <button type="submit" class="pure-button pure-button-primary" id="add">
          Add Task
        </button>
      </p>

      <p>
        <!-- select priorities -->
        <label for="highRadio" class="pure-radio">
        <input id ="highRadio" type="radio" name="priority" value="high"/>
        High Priority
        </label>

        <label for="midRadio" class="pure-radio">
        <input id ="midRadio" type="radio" name="priority" value="mid"/>
        Mid Priority
        </label>

        <label for="lowRadio" class="pure-radio">
        <input id ="lowRadio" type="radio" name="priority" value="low"/>
        Low Priority
        </label>
      </p>
    </form>

    <!-- list of tasks -->
    <div id="highPriority">
    </div>

    <div id="midPriority">
    </div>

    <div id="lowPriority">
    </div>
  </div>
  </body>

</html>