#addForm {
  text-align: center;
}

#highPriority {
  color: #F55945;
}

#midPriority {
  color: #F5A345;
}

#lowPriority {
  color: #000000;
}

#highPriority div, #midPriority div, #lowPriority div {
  display: table;
  margin: auto;
}