@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
  font-size: 120%;
}

#form, #connectionsDisplay {
  text-align: center;
  color: #777;
  font-family: "Raleway", Helvetica, sans-serif;
  margin: 2%;
}

#addForm {
  font-family: "Raleway", Helvetica, sans-serif;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
}

#highPriority {
  color: #F55945;
}

#midPriority {
  color: #E97A17;
}

#lowPriority {
  color: #4E9637;
}

.taskLists div {
  display: table;
  margin: auto;
}

.priorityOptions {
  text-align: left;
  display: inline-block;
}

.taskLists {
  font-family: "Raleway", Helvetica, sans-serif;
  line-height: 2.0;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  margin-top: 5px;
}
